/tmp
/node_modules
/vendor
/coverage
/.bundle
/log/*
/local/
/build/
/.vscode/
/.devcontainer/
.env
.docker_container_default.env
*/node_modules/
*/lib/
*/bin/
*/.encryption_key
*/Dockerfile
*/docker-compose.yml
/.devcontainer/
